.homepage{
    background-color: white;
    height: 90vh;
    margin-left: 40px;
    text-align: center;
    
}

hr{
    border-width: 6px;
    width: 500px;
    border-color: black;
    color: black ;
    
}