.header {
    display: flex;
    padding: 20px 40px;
    background-color: #badfe3;
}

.header h1{
    margin-left: 1%;
    font-family: "Poppins";
    font-size: 20px;
    text-align: left;
    margin-top: 0.2%;
}

.header img{
    margin-left: 10%;
    width: 75px;
    height: 75px;
}

