.header {
    background-image: url("../assets/images/background-gedung.png");
    padding: 10px;
    background-color: #388087;
}

.titleNav{
    font-size: 11px;
    color: #f6f6f2;
    margin-top: 5px;
    margin-left: 5px;
    font-weight: 500;
    
}

.wrappedHeader{
    justify-content: space-between;
    display: flex;
}

.active{
    border-color: #388087;
}

@media screen and (max-width: 600px) {
    .searchBox {
      max-width: 90%;
      margin: auto;
    }
  }







