/*
  
  .containerNav{
    display: flex;
    margin: auto;
    padding: 0;
    
  }
  

  
  .sidenav{
    background: #6fb3b8;
    color:white;
    height: 100vh;
    width: 300px;
    transition: all 0.5s;
    border-right-style: groove;
    border-color: white;
  }
  
  .top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
  }
  
  .logoDashboard{
    width:85%;
    display: flex;
  }
  
  .bars{
    display: flex;
    font-size: 25px;
    margin-top: 20px;

  }
  

  .link{
    display: flex;
    color: white;
    padding: 10px 15px;
    gap: 15px;
    text-decoration: none;
    background-color: none;
  }
 

  .active{
    background: #badfe7;
    color: #388087;
  }
  .link:hover{
    background: #badfe7;
    color: #388087;
  }
  
  .icon, .link_text{
    font-size: 20px;
    padding-top: 10px;
  }

  .link_text{
    margin-top:-5px;
  }

  
  .linkBottom{
    color: white;
    padding: 10px 15px;
    gap: 15px;
    text-decoration: none;
    background-color: none;
    display: flex;
  }
  

  .linkBottom:hover{
    background-color: none;
    color:#388087;
  }
  

  */
  @media screen and (max-width: 600px) {
    .containerNav {
      max-width: 90%;
      margin: auto;
    }
  }
  
  
  
  