
  
  .containerNav{
    display: flex;
    margin: auto;
    padding: 0;
    
  }
  
  main{
    width: 100%;
    /* height: 100%; */
  }
  
  .sidenav{
    background: #6fb3b8;
    color:white;
    /* height: 100vh; */
    width: 300px;
    transition: all 0.5s;
    border-right-style: groove;
    border-color: white;
  }
  
  .top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
  }
  
  .userSidebar{
    font-size: 25px;
  }
  
  .bars{
    display: flex;
    font-size: 25px;
    margin-left: 70px;
  }
  
  .link{
    display: flex;
    color: white;
    padding: 10px 15px;
    gap: 15px;
    text-decoration: none;
    background-color: none;
    margin-block: 2rem;
  }
  
  .active{
    background: #badfe7;
    color: #388087;
  }
  
  .link:hover{
    background: #badfe7;
    color: #388087;
  }
  
  .icon, .link_text{
    font-size: 20px;
    padding-top: 10px;
  }

  .link_text{
    margin-top:-5px;
  }

  .linkBottom{
    color: white;
    padding: 10px 15px;
    gap: 15px;
    text-decoration: none;
    background-color: none;
    position: absolute;
    display: flex;
  }
  

  .linkBottom:hover{
    background-color: none;
    color:#388087;
  }

  @media screen and (max-width: 600px) {
    .containerNav {
      max-width: 90%;
      margin: auto;
    }
  }
  
  
  
  