.Profil {
    text-align: left;
    background-color: #388087;
    justify-content: center;
}
form {
    display: block;
    text-align: left;
}
.label{
    text-align: left;
    color: black;
    padding: 5px;       
}  
.input{
    text-align: auto;
    font-size: large;
    padding: 5px;
    margin: 2px;
}
.btn{
    color: white;
    background-color: #388087;;
    border-radius: 5px;
    display: block;
    padding: 5px;
    margin: 10px auto;
    font-size: large;
}  
.messages{
    display: flex;
    justify-content: center;
} 
.error{
    display: block;
    background-color: red;
    color: white;
    width: fit-content;
    height: 50px;
    padding: 5px;
}
.success{
    display: block;
    background-color: lightblue;
    color: black;
    width: fit-content;
    height: 50px;
    padding: 5px;
}

.tablee{
    padding-top: 2rem;
    width: 100%;
    text-align: center;
}

.pw-break{
    word-break: break-all;
}